<div class="border">
  <h1>Welcome Admin!</h1>
  <p>@Html.ActionLink("See all your stylists", "Index", "Stylist")</p>
  <p>@Html.ActionLink("Add a stylist", "Create", "Stylist")</p>
  <br>
  <p>@Html.ActionLink("Add a client to your stylists client book", "Create", "Client")</p>
</div>